/* Reset default margin & padding */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.btn {
  @apply bg-lynq-yellow hover:bg-yellow-400  hover:shadow-xl text-black font-semibold py-2 px-6 rounded shadow-lg transition;
}

.grd-bg {
  @apply bg-gradient-to-b from-slate-300 to-slate-200 border-t border-solid;
}
.grd1-bg {
  @apply bg-gradient-to-b from-slate-200 to-slate-100 border-t border-slate-300;
}
.grd2-bg {
  @apply bg-gradient-to-b from-slate-100 to-slate-50 border-t border-slate-300;
}
